<section class="contenedor-seccion">
  <div class="fondo-seccion"></div>

  <section id="inicio" class="inicio">
      <div class="col">
          <h2 class="titulo-inicio">El Universo de las Gorras <br>
              NoCapStore</h2>
          <div class="buscador">
              <input type="text" placeholder="Encuentra la gorra ideal">
              <span class="btn-buscar"><i class="fa-solid fa-magnifying-glass"></i></span>
          </div>

      </div>
      <div class="col derecha">
          <div class="contenedor-img">
              <img src="" alt="">
          </div>
      </div>
  </section>

  <!-- PRODUCTOS -->
  <section id="productos" class="productos">
      <div class="fila">
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>
              <a href="producto1.html">
                  <div class="contenido">
                      <div class="fondo orange">
                          <div class="circulo"></div>
                      </div>
                      <img src="assets/img/60222456_1.png" alt="foto">
                      <h2>Nike Air Max 270 to Chuck Taylors</h2>
                      <h2>$20.000</h2>
                  </div>
              </a>

          </div>
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="producto2.html">
                  <div class="contenido">
                      <div class="fondo blue">
                          <div class="circulo"></div>
                      </div>
                      <img src="assets/img/60227498_1.png" alt="gorra">
                      <h2>Zapatillas Jaguar Oficial Deportiva</h2>
                      <h2>$35.000</h2>
                  </div>
              </a>
          </div>
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="#">
                  <div class="contenido">
                      <div class="fondo green">
                          <div class="circulo"></div>
                      </div>
                      <img src="" alt="">
                      <h2>Zapatillas Entrenamiento Nike Air Max</h2>
                      <h2>$35.000</h2>
                  </div>
              </a>
          </div>
      </div>
      <div class="fila">
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="#">
                  <div class="contenido">
                      <div class="fondo green">
                          <div class="circulo"></div>
                      </div>
                      <img src="" alt="">
                      <h2>Zapatillas Nike Court Vision Low Next Nature</h2>
                      <h2>$64.000</h2>
                  </div>
              </a>
          </div>
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="#">
                  <div class="contenido">
                      <div class="fondo orange">
                          <div class="circulo"></div>
                      </div>
                      <img src="" alt="">
                      <h2>Zapatillas Urbanas Olympikus G Dínamo Mujer</h2>
                      <h2>$17.999</h2>
                  </div>
              </a>
          </div>
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="#">
                  <div class="contenido">
                      <div class="fondo blue">
                          <div class="circulo"></div>
                      </div>
                      <img src="" alt="">
                      <h2>Zapatillas Topper X Forcer (Cf)</h2>
                      <h2>$24.000</h2>
                  </div>
              </a>
          </div>
      </div>
  </section>
</section>
