<header class="menu-header">
  <div class="logo-titulo">
    <a routerLink="/inicio">
      <img src="https://www.redkap.com/dw/image/v2/BDCD_PRD/on/demandware.static/-/Sites-redkap-master-catalog/default/dwaf3ea15b/HB20/PS_RK_HB20BK_F.png?sw=800&sh=800" alt="NoCapStore logo">
      <div>
        <p class="kicker">streetwear premium</p>
        <h1>NoCapStore</h1>
      </div>
    </a>
  </div>

  <nav id="nav">
    <a routerLink="/inicio" routerLinkActive="selected">Inicio</a>
    <a routerLink="/tienda" routerLinkActive="selected">Tienda</a>
    <a routerLink="/contacto" routerLinkActive="selected">Contacto</a>
    <a routerLink="/blog" routerLinkActive="selected">Mi Perfil</a>
  </nav>

  <div class="carrito">
    <span class="total-compra">Wishlist</span>
    <a routerLink="/carrito">
      <span class="icono-carrito">
        <i class="fa-solid fa-bag-shopping"></i>
        <span class="total-item-carrito">2</span>
      </span>
    </a>
  </div>
</header>
