<header>
  <div class="logo-titulo">
      <a href="index.html">
        <img src="https://www.redkap.com/dw/image/v2/BDCD_PRD/on/demandware.static/-/Sites-redkap-master-catalog/default/dwaf3ea15b/HB20/PS_RK_HB20BK_F.png?sw=800&sh=800" alt="logo" style="width: 50px; height: 50px; margin-right: 25px;">
          <h1>NoCapStore</h1>
      </a>
  </div>
  <nav id="nav">
      <a routerLink="/inicio">Inicio</a>
      <a routerLink="/tienda">Tienda</a>
      <a routerLink="/blog">Blog</a>
      <a routerLink="/contacto">Contacto</a>

      <span id="close-responsive">
          <i class="fa-solid fa-xmark"></i>
      </span>
  </nav>

  <div id="nav-responsive">
      <i class="fa-solid fa-bars"></i>
  </div>

  <div class="carrito">
      <span class="total-compra">Wishlist</span>
      <a routerLink="/carrito">
          <span class="icono-carrito">
              <i class="fa-solid fa-bag-shopping"></i>
              <div class="total-item-carrito">
                  $
              </div>
          </span>
      </a>
  </div>


</header>
