<section class="contenedor-seccion">
  <div class="fondo-seccion"></div>
  <div class="header-seccion">
      <div class="col">
          <strong><span class="link-blanco">Inicio</span> / Tienda</strong>
      </div>
      <div class="centro">
          <h2>Shop</h2>
      </div>
      <div class="col busqueda">
          <strong>Resultados (1-6)</strong>
          <select name="" id="">
              <option value="">Todos los productos</option>
              <option value="">Por precio</option>
              <option value="">Por modelo</option>
          </select>
      </div>
  </div>

  <section id="productos" class="productos">
      <div class="fila">
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>
              <a href="producto1.html">
                  <div class="contenido">
                      <div class="fondo orange">
                          <div class="circulo"></div>
                      </div>
                      <img src="" alt="">
                      <h2>Gorra</h2>
                      <h2>$1</h2>
                  </div>
              </a>

          </div>
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="producto2.html">
                  <div class="contenido">
                      <div class="fondo blue">
                          <div class="circulo"></div>
                      </div>
                      <img src="" alt="">
                      <h2>Gorra</h2>
                      <h2>$1</h2>
                  </div>
              </a>
          </div>
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="#">
                  <div class="contenido">
                      <div class="fondo green">
                          <div class="circulo"></div>
                      </div>
                      <img src="" alt="">
                      <h2>Gorra</h2>
                      <h2>$1</h2>
                  </div>
              </a>
          </div>
      </div>
      <div class="fila">
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="#">
                  <div class="contenido">
                      <div class="fondo green">
                          <div class="circulo"></div>
                      </div>
                      <img src="" alt="">
                      <h2>Gorra</h2>
                      <h2>$1</h2>
                  </div>
              </a>
          </div>
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="#">
                  <div class="contenido">
                      <div class="fondo orange">
                          <div class="circulo"></div>
                      </div>
                      <img src="" alt="">
                      <h2>Gorra</h2>
                      <h2>$1</h2>
                  </div>
              </a>
          </div>
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="#">
                  <div class="contenido">
                      <div class="fondo blue">
                          <div class="circulo"></div>
                      </div>
                      <img src="" alt="">
                      <h2>Gorra</h2>
                      <h2>$1</h2>
                  </div>
              </a>
          </div>
      </div>
  </section>
</section>
