<section class="contenedor-seccion">
    <div class="fondo-seccion"></div>
    <div class="header-seccion">
        <div class="col">
            <strong><span class="link-blanco">Inicio</span> / Tienda</strong>
        </div>
        <div class="centro">
            <h2>{{title}}</h2>
        </div>
        <div class="col busqueda">
            <strong>Filtro</strong>
            <select name="" id="" (change)="onFilterChange($event)">
                <option value="all">Todos los productos</option>
                <option value="asc">Por precio (ascendente)</option>
                <option value="desc">Por precio (descendente)</option>
            </select>
        </div>
    </div>

    <section id="productos" class="productos">
        <!-- Primera fila de imágenes -->
        <div class="fila">
            <div class="col fondo-dots" *ngFor="let foto of fotos.slice(6, 9)">
                <header>
                    <span class="like"><i class="fa-solid fa-heart"></i></span>
                    <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
                </header>

                <a href="#">
                    <div class="contenido">
                        <img [src]="foto.imagen" alt="" style="width: 200px; height: 230px; margin-right: 15px;">
                        <h2>{{foto.descripcion}}</h2>
                        <h2>{{foto.precio}}</h2>
                    </div>
                </a>
            </div>
        </div>

        <!-- Segunda fila de imágenes -->
        <div class="fila">
            <div class="col fondo-dots" *ngFor="let foto of fotos.slice(9, 12)">
                <header>
                    <span class="like"><i class="fa-solid fa-heart"></i></span>
                    <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
                </header>

                <a href="#">
                    <div class="contenido">
                        <img [src]="foto.imagen" alt="" style="width: 200px; height: 230px; margin-right: 15px;">
                        <h2>{{foto.descripcion}}</h2>
                        <h2>{{foto.precio}}</h2>
                    </div>
                </a>
            </div>
        </div>
    </section>
</section>

