<section class="contenedor-seccion">
  <div class="fondo-seccion"></div>
  <div class="header-seccion">
      <div class="col">
          <strong><span class="link-blanco">Inicio</span> / Tienda</strong>
      </div>
      <div class="centro">
          <h2>Shop</h2>
      </div>
      <div class="col busqueda">
          <strong>Resultados (1-6)</strong>
          <select name="" id="">
              <option value="">Todos los productos</option>
              <option value="">Por precio</option>
              <option value="">Por modelo</option>
          </select>
      </div>
  </div>

  <section id="productos" class="productos">
      <div class="fila">
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>
              <a href="producto1.html">
                  <div class="contenido">
                      
                      <img src="https://neweraec.vtexassets.com/arquivos/ids/179843/60503500_5.jpg?v=638528097952870000" alt="" style="width: 200px; height: 230px; margin-right: 15px;">
                      <h2>Gorra Summer Icon Collection 9FIFTY Ajustable New Era</h2>
                      <h2>$10.000</h2>
                  </div>
              </a>

          </div>
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="producto2.html">
                  <div class="contenido">
                      
                      <img src="https://neweraec.vtexassets.com/arquivos/ids/177875/60564594_4.jpg?v=638467406106130000" alt="" style="width: 200px; height: 230px; margin-right: 15px;">
                      <h2>Gorra Race Specials Collection 9FIFTY Ajustable New Era</h2>
                      <h2>$60.000</h2>
                  </div>
              </a>
          </div>
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="#">
                  <div class="contenido">
                     
                      <img src="https://neweraec.vtexassets.com/arquivos/ids/179826/60503492_1.jpg?v=638528097841000000" alt="" style="width: 200px; height: 230px; margin-right: 15px;">
                      <h2>Gorra World Patches Collection 9FIFTY Ajustable New Era</h2>
                      <h2>$70.000</h2>
                  </div>
              </a>
          </div>
      </div>
      <div class="fila">
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="#">
                  <div class="contenido">
                     
                      <img src="https://neweraec.vtexassets.com/arquivos/ids/178399/60503948_6.png?v=638495771235800000" alt="" style="width: 200px; height: 230px; margin-right: 15px;">
                      <h2>Gorra Be Mine Collection 59FIFTY Cerrada New Era</h2>
                      <h2>$70.000</h2>
                  </div>
              </a>
          </div>
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="#">
                  <div class="contenido">
                      
                      <img src="https://neweraec.vtexassets.com/arquivos/ids/177847/60502790_6.png?v=638465503124570000" alt="" style="width: 200px; height: 230px; margin-right: 15px;">
                      <h2>Gorra Jackie Robinson 9FIFTY Ajustable New Era</h2>
                      <h2>$90.000</h2>
                  </div>
              </a>
          </div>
          <div class="col fondo-dots">
              <header>
                  <span class="like"><i class="fa-solid fa-heart"></i></span>
                  <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
              </header>

              <a href="#">
                  <div class="contenido">
                   
                      <img src="https://neweraec.vtexassets.com/arquivos/ids/178169/60498103_6.jpg?v=638488725822100000" alt="" style="width: 200px; height: 230px; margin-right: 15px;">
                      <h2>Gorra Thermal Front Collection 59FIFTY Cerrada New Era</h2>
                      <h2>$1</h2>
                  </div>
              </a>
          </div>
      </div>
  </section>
</section>
