<section class="contenedor-seccion">
  <div class="fondo-seccion"></div>
  <div class="header-seccion">
      <div class="col">
          <strong><span class="link-blanco">Inicio</span> / Contacto</strong>
      </div>
      <div class="centro">
          <h2>Contacto</h2>
      </div>
      <div class="col busqueda">
          <strong> </strong>
      </div>
  </div>

  <section class="contacto">
      <div class="fila">
          <div class="col">
              <form action="">
                  <input type="text" placeholder="Nombre">
                  <input type="text" placeholder="Correo">
                  <textarea name="" id="" placeholder="Mensaje"></textarea>
                  <button class="btn-contacto">Enviar Consulta</button>
              </form>
          </div>
          <div class="col derecha">
              <h2>Contáctanos <br>Hoy!!!</h2>
              <img src="img/contacto.png" alt="">
          </div>
      </div>
  </section>

</section>
