<section class="contenedor-seccion">
  <div class="fondo-seccion"></div>
  <div class="header-seccion">
      <div class="col">
          <strong><span class="link-blanco">Inicio</span> / Contacto</strong>
      </div>
      <div class="centro">
          <h2>Contacto</h2>
      </div>
      <div class="col busqueda">
          <strong> </strong>
      </div>
  </div>

  <section class="contacto">
      <div class="fila">
          <div class="col">
              <form action="">
                  <input type="text" placeholder="Nombre">
                  <input type="text" placeholder="Correo">
                  <input type="text" placeholder="Celular">
                  <textarea name="" id="" placeholder="Mensaje"></textarea>
                  <button class="btn-contacto">Enviar Registro</button>
              </form>
          </div>
          <div class="col derecha">
              <h2>Regístrate <br>¡Únete hoy!</h2>
              <img src="img/contacto.png" alt="">
          </div>
      </div>
  </section>

  <section class="informacion-contacto">
    <div class="fila">
        <div class="col centrado">
            <h3>¿Por qué contactarnos?</h3>
            <p>En NoCapStore, valoramos la comunicación directa con nuestros clientes. Al contactarnos, puedes:</p>
            <ul class="lista-contacto">
                <li>Recibir asesoramiento personalizado sobre nuestros productos.</li>
                <li>Resolver dudas y consultas específicas sobre tu pedido.</li>
                <li>Obtener información detallada sobre nuestras políticas de envío y devoluciones.</li>
            </ul>
        </div>
        <div class="col centrado">
            <h3>Horario de atención</h3>
            <p>Estamos disponibles para ayudarte en los siguientes horarios:</p>
            <ul class="lista-contacto">
                <li>Lunes a Viernes: 9:00 AM - 6:00 PM</li>
                <li>Sábados: 10:00 AM - 4:00 PM</li>
                <li>Domingos y Festivos: Cerrado</li>
            </ul>
        </div>
        <div class="col centrado">
            <h3>Nuestros canales de contacto</h3>
            <p>Puedes comunicarte con nosotros a través de los siguientes medios:</p>
            <ul class="lista-contacto">
                <li>Correo Electrónico: contacto.ncapstore.com</li>
                <li>Teléfono: +123 456 7890</li>
                <li>Redes Sociales: Síguenos en Facebook, Instagram y Twitter</li>
            </ul>
        </div>
    </div>
</section>

</section>
