@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

h2{
    text-align: center;
}

#servicios{
    text-align: justify;
}



body{
  background: url("../../../assets/img/fondopantalla.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
}
.contenedor{
    background-color: #d4e4ff;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    border-radius: 40px;
    border: 5px solid #fff;
}
/* Enabezado Principal */
.contenedor header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.contenedor header .logo-titulo a{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}
.contenedor header .logo-titulo i{
    background-color: #cce1ff;
    font-size: 20px;
    margin-right: 10px;
}
.contenedor header .logo-titulo h1{
    font-size: 24px;
}
.contenedor header nav a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 0 10px;
}
.contenedor header nav a:hover{
    color: #003399;
}
.contenedor header nav .selected{
    color: #003399;
}
.contenedor header .carrito{
    font-weight: bold;
    text-align: right;
    width: 150px;
}
.contenedor header .carrito a{
    text-decoration: none;
    color: #000;
}
.contenedor header .carrito .icono-carrito{
    display: inline-block;
    background-color: #cce1ff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    position: relative;
}
.contenedor header .carrito .icono-carrito:hover{
    background-color: #0044cc;
}
.contenedor header .carrito .total-item-carrito{
    position: absolute;
    background-color: #0044cc;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 0;
    right: 0;
    line-height: 15px;
}

/* Sección Inicio */
.contenedor-seccion .inicio{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.contenedor-seccion .inicio .col{
    width: 50%;
}
.contenedor-seccion .inicio .col .titulo-inicio{
   line-height: 40px;
   font-size: 30px;
   color: #444;
   margin-bottom: 15px;
}
.contenedor-seccion .inicio .col .buscador{
    width: 80%;
    margin: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
}
.contenedor-seccion .inicio .col .buscador input{
    width: 100%;
    border: none;
    display: inline-block;
    padding: 10px;
    outline: none;
 }
 .contenedor-seccion .inicio .col .buscador span{
    width: 50px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
 }
 .contenedor-seccion .inicio .col .buscador span i{
    padding-right: 10px;
 }
 .contenedor-seccion .inicio .col .buscador span:hover{
    background-color:#ccc;
 }

.contenedor-seccion .inicio .col .contenedor-img{
    width: 220px;
    height: 220px;
    margin: auto;
    background:rgba(255,255,255,.7);
    border-radius: 50%;
}
.contenedor-seccion .inicio .col .contenedor-img img{
    width: 120%;
}


/* Encabezado Sección */
.header-seccion{
    position: relative;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 40px 50px;
}

.header-seccion .col{
    width: 30%;
}
.header-seccion .link-blanco{
    color: #fff;
}

.header-seccion .busqueda{
    text-align: right;
    font-size: 16px;
}
.header-seccion .busqueda a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    margin-left: 15px;
    text-align: center;
    transition: .3s;
}
.header-seccion .busqueda a:hover{
    background-color: #0044cc;
}
.header-seccion .busqueda select{
    font-size: 10px;
    background-color: #d4e4ff;
    border: none;
    padding: 2px;
    font-weight: bold;
    border-radius: 5px;
}
.header-seccion .centro{
    font-size: 18px;
}

/* Sección Productos */
.productos .fila{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.productos .fila .col{
    width: 240px;
    padding: 20px;
    border-radius: 30px;
    position: relative;
}

.productos .fila .col .like,
.productos .fila .col .cart{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    font-size: 12px;
    transition: .3s;
}
.productos .fila .col .like:hover,
.productos .fila .col .cart:hover{
    background-color: #0044cc;
}

.fondo-dots {
    background-image:
        radial-gradient(rgb(226, 226, 226) 2%, transparent 10%),
        radial-gradient(rgb(232, 227, 227) 2%, transparent 10%);
    background-position: 0px 0px, 12px 12px;
    background-size: 24px 24px;
    background-color: rgb(255, 255, 255);
}
.productos .fila .col img{
    display: block;
    width: 80%;
    margin: auto;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    transition: .3s;
}
.productos .fila .col .contenido{
    cursor: pointer;
}
.productos .fila .col .contenido:hover img{
    transform: rotate(35deg);
}
.productos .fila .col a{
    text-decoration: none;
}
.productos .fila .col h2{
    font-size: 14px;
    text-align: center;
    color: #4f3cc9;
}
.productos .fila .col .orange{
    background-color: #ff6b01;
}
.productos .fila .col .blue{
    background-color: #45409c;
}
.productos .fila .col .green{
    background-color: #01af67;
}
.productos .fila .col .fondo{
    width: 90%;
    height: 100px;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    left: 13px;
    transition: .3s;
}
.productos .fila .contenido:hover .fondo{
    margin-top: 40px;
}
.productos .fila .circulo{
    width: 120px;
    height: 120px;
    background-color: #0044cc;
    border: 3px solid #d4e4ff;
    border-radius: 50%;
}

/* SECCION BLOG */
.blog {
    position: relative;
    padding: 0 50px;
}
.blog .fila{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.blog .fila .col{
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
}
.blog .fila .col .contenedor-img-metadatos{
    position: relative;
}
.blog .fila .col .contenedor-img-metadatos img{
    display: block;
    width: 100%;
}
.blog .fila .col .contenedor-img-metadatos .metadatos{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,.6);
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scale: 0.5;
    opacity: 0;
    transition: .3s;
}
.blog .fila .col .contenedor-img-metadatos:hover .metadatos{
    scale: 1;
    opacity: 1;
}
.blog .fila .col .contenedor-img-metadatos .metadatos span{
    display: block;
    margin: 5px 0;
    font-size: 20px;
}
.blog .fila .col .contenedor-img-metadatos .metadatos span i{
    margin-right: 10px;
}
.blog .fila .col .contenido{
   padding: 10px;
}
.blog .fila .col .contenido header{
    margin: 10px 0;
}
.blog .fila .col .contenido h2{
   font-weight: normal;
   margin-bottom: 20px;
   font-size: 18px;
 }

 .blog .fila .col .contenido p{
   margin-bottom: 20px;
}
.blog .fila .col .contenido a{
   text-decoration: none;
   color: #0044cc;
}
.blog .fila .col .contenido a:hover{
    text-decoration: underline;
}

/* CONTACTO */
.contacto {
    position: relative;
    padding: 0 50px;
}
.contacto .fila{
    padding: 50px 40px;
    background: #d4e4ff;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 0 20px 10px rgba(255,255,255,.4), 0px 0 10px 0 #000;
}
.contacto .fila .col{
        width: 50%;
}
.contacto .fila .col input,
.contacto .fila .col textarea
{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #4b5270;
    border-radius: 20px;
    background-color: #fff;
}
.contacto .fila .derecha{
    position: relative;
}
.contacto .fila .derecha h2{
    color: #444;
    font-size: 60px;
    text-align: center;
    font-family: "DM Serif Display";
}
.contacto .fila .derecha img{
    top: 100px;
    right: -100px;
    max-width: 300px;
    position: absolute;
}
.contacto .fila .col .btn-contacto{
    width: auto;
    background-color: #000;
    color: #0044cc;
    border: none;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

#nav-responsive{
    font-size: 18px;
    display: none;

}
#close-responsive{
    display: none;
}

@media screen and (max-width:950px) {
    body{
        padding: 20px;
    }
    .contenedor{
        padding: 20px;
    }
    /* sección del menú */
    nav{
        display: none
    }
    #nav-responsive{
        display: block;
    }
    nav.menu-responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #b3c7ff;
        z-index: 100;
    }
    nav.menu-responsive a{
        color: #fff !important;
        display: block;
        text-align: center;
        font-size: 45px;
        margin: 15px 0;
    }
    #close-responsive{
        display: block;
        line-height: 40px;
        color: #fff;
        font-size: 30px;
        text-align: center;
    }
    #close-responsive i{
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
        border-radius: 50%;
        line-height: 38px;
    }

    /*  sección inicio*/
    .contenedor-seccion .inicio .derecha{
        display: none;
    }
    .contenedor-seccion .inicio .col{
        width: 90%;
    }

    /*  sección productos*/
    .productos .fila{
        display: block;
    }
    .productos .fila .col{
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

    /* sección cabecera del inicio*/
    .contenedor-seccion .header-seccion h2{
        font-size: 18px;
        text-align: center;
    }
    .contenedor-seccion .header-seccion .busqueda strong{
        display: none;
    }

    /* sección blog */
    .blog .fila{
        display: block;
    }
    .blog .fila .col{
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

    /* sección contacto */
    .contacto .fila .derecha{
        display: none;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
