<section id="servicios">
  <h2>{{title}}</h2>
  <br>
  <p>Estos son nuestros mejores clientes, aquellos que han confiado en nosotros a lo largo de los años. Su satisfacción y el éxito continuo son el testimonio de nuestro compromiso por ofrecer soluciones innovadoras y personalizadas. Cada proyecto que emprendemos es una nueva oportunidad para demostrar nuestra dedicación y excelencia, asegurando que superamos sus expectativas en cada paso del camino. Agradecemos profundamente la confianza depositada en nosotros y nos esforzamos día a día por fortalecer esa relación.</p>
  <br>
  <div class="card" style="width: 18rem; margin: 0 auto;">
    <img src="https://wallpapers.com/images/hd/kanye-west-in-hat-png-usx50-tcqrmq2s5nh3zcla.jpg" class="card-img-top" alt="Mejor Cliente">
    <div class="card-body">
      <p class="card-text">
        A nuestro mejor cliente:<br>
        <strong>Leanne Graham</strong><br>
        Por haber comprado más de $1000 en gorras al año
      </p>
    </div>
  </div>
  <br>
  <table class="table table-borderless table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Celular</th>
        <th>Sitio Web</th>
        <th>Empresa</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of usuarios">
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.website }}</td>
        <td>{{ user.company.name }}</td>
      </tr>
    </tbody>
  </table>
</section>
