<section class="contenedor-seccion">
  <div class="fondo-seccion"></div>
  <div class="header-seccion">
      <div class="col">
          <strong><span class="link-blanco">Inicio</span> / Blog</strong>
      </div>
     
      <div class="col busqueda">
          <strong>Buscar por</strong>
          <select name="" id="">
              <option value="">Fecha</option>
              <option value="">Mas leidos</option>
              <option value="">Mas Populares</option>
          </select>
      </div>
  </div>

  <section id="blog" class="blog">
      <div class="fila">
          <div class="col fondo-dots">
              <div class="contenedor-img-metadatos">
                  <img src="img/blog1.png" alt="">
                  <div class="metadatos" >
                      <span class="like">
                          <i class="fa-solid fa-thumbs-up"></i>800</span>
                      <span class="like"><i class="fa-solid fa-eye"></i>1,200</span>
                      <span class="cart"><i class="fa-solid fa-calendar-days"></i>3/12/2024</span>
                  </div>
              </div>

              <div class="contenido">
              <h2>Gorra 1</h2>
                  <p>ncjrnjnrjfn</p>
                  <a href="#" class="btn-blog">Leer mas</a>
              </div>

          </div>
          <div class="col fondo-dots">
              <div class="contenedor-img-metadatos">
                  <img src="img/blog2.jpeg" alt="">
                  <div class="metadatos" >
                      <span class="like">
                          <i class="fa-solid fa-thumbs-up"></i>700</span>
                      <span class="like"><i class="fa-solid fa-eye"></i>200</span>
                      <span class="cart"><i class="fa-solid fa-calendar-days"></i>5/11/2024</span>
                  </div>
              </div>

              <div class="contenido">

                <h2>Gorra 2</h2>
                <p>Descripcion de la gorra.</p>
                  <a href="#" class="btn-blog">Leer mas</a>
              </div>

          </div>
          <div class="col fondo-dots">
              <div class="contenedor-img-metadatos">
                  <img src="" alt="">
                  <div class="metadatos" >
                      <span class="like">
                          <i class="fa-solid fa-thumbs-up"></i>600</span>
                      <span class="like"><i class="fa-solid fa-eye"></i>800</span>
                      <span class="cart"><i class="fa-solid fa-calendar-days"></i>05/09/2024</span>
                  </div>
              </div>

              <div class="contenido">

                <h2>Gorra 3</h2>
                <p>Descripcion de la gorra.</p>
                  <a href="#" class="btn-blog">Leer mas</a>
              </div>

          </div>
      </div>
      <div class="fila">
          <div class="col fondo-dots">
              <div class="contenedor-img-metadatos">
                  <img src="" alt="">
                  <div class="metadatos" >
                      <span class="like">
                          <i class="fa-solid fa-thumbs-up"></i>800</span>
                      <span class="like"><i class="fa-solid fa-eye"></i>1,200</span>
                      <span class="cart"><i class="fa-solid fa-calendar-days"></i>3/12/2024</span>
                  </div>
              </div>

              <div class="contenido">

                <h2>Gorra 4</h2>
                <p>Descripcion de la gorra.</p>
                  <a href="#" class="btn-blog">Leer mas</a>
              </div>

          </div>
          <div class="col fondo-dots">
              <div class="contenedor-img-metadatos">
                  <img src="" alt="">
                  <div class="metadatos" >
                      <span class="like">
                          <i class="fa-solid fa-thumbs-up"></i>700</span>
                      <span class="like"><i class="fa-solid fa-eye"></i>200</span>
                      <span class="cart"><i class="fa-solid fa-calendar-days"></i>5/11/2024</span>
                  </div>
              </div>

              <div class="contenido">

                <h2>Gorra 5</h2>
                <p>Descripcion de la gorra.</p>
                  <a href="#" class="btn-blog">Leer mas</a>
              </div>

          </div>
          <div class="col fondo-dots">
              <div class="contenedor-img-metadatos">
                  <img src="" alt="">
                  <div class="metadatos" >
                      <span class="like">
                          <i class="fa-solid fa-thumbs-up"></i>600</span>
                      <span class="like"><i class="fa-solid fa-eye"></i>800</span>
                      <span class="cart"><i class="fa-solid fa-calendar-days"></i>05/09/2024</span>
                  </div>
              </div>

              <div class="contenido">

                <h2>Gorra 6</h2>
                <p>Descripcion de la gorra.</p>
                  <a href="#" class="btn-blog">Leer mas</a>
              </div>

          </div>
      </div>


  </section>
</section>
