<section id="servicios">
  <h2>{{title}}</h2>
  <br>
  <p>Estos son nuestros mejores clientes, aquellos que han confiado en nosotros a lo largo de los años. Su satisfacción y el éxito continuo son el testimonio de nuestro compromiso por ofrecer soluciones innovadoras y personalizadas. Cada proyecto que emprendemos es una nueva oportunidad para demostrar nuestra dedicación y excelencia, asegurando que superamos sus expectativas en cada paso del camino. Agradecemos profundamente la confianza depositada en nosotros y nos esforzamos día a día por fortalecer esa relación.</p>
  <br>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
<br>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Celular</th>
        <th>Sitio Web</th>
        <th>Empresa</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of usuarios">
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.website }}</td>
        <td>{{ user.company.name }}</td>
      </tr>
    </tbody>
  </table>
</section>
