<section class="contenedor-seccion">
  <div class="fondo-seccion"></div>
  <div class="header-seccion">
      <div class="col">
          <strong><span class="link-blanco">Inicio</span> / Carrito</strong>
      </div>
      <div class="centro">
          <h2>Mi Carrito</h2>
      </div>
      <div class="col busqueda">

      </div>
  </div>

  <section class="mi-carrito">
      <div class="productos-carrito">
          <div class="fila">
              <div class="col descripcion">
                  <strong>Descripción</strong>
              </div>
              <div class="col talle">
                  <strong>Talle</strong>
              </div>
              <div class="col color">
                  <strong>Color</strong>
              </div>
              <div class="col cantidad">
                  <strong>Cantidad</strong>
              </div>
              <div class="col eliminar">
                  <strong>Eliminar</strong>
              </div>
              <div class="col precio">
                  <strong>Precio</strong>
              </div>
          </div>
          <div class="fila">
              <div class="col descripcion">
                 <img src="img/mini-shoes2.png" alt="">
                 <span>Gorra Adidas Edición Limitada</span>
              </div>
              <div class="col talle">
                  <span>42</span>
              </div>
              <div class="col color c1">
                  <span> </span>
              </div>
              <div class="col cantidad">
                  <button> + </button>
                  <span class="total-cantidad">1</span>
                  <button> - </button>
              </div>
              <div class="col eliminar">
                  <span> <i class="fa-solid fa-xmark"></i> </span>
              </div>
              <div class="col precio">
                  <span> $ 25,00</span>
              </div>
          </div>
          <div class="fila">
              <div class="col descripcion">
                 <img src="img/mini-shoes5.png" alt="">
                 <span>Gorra de Argentina firmada por Messi</span>
              </div>
              <div class="col talle">
                  <span>40</span>
              </div>
              <div class="col color c2">
                  <span> </span>
              </div>
              <div class="col cantidad">
                  <button> + </button>
                  <span class="total-cantidad">1</span>
                  <button> - </button>
              </div>
              <div class="col eliminar">
                  <span> <i class="fa-solid fa-xmark"></i> </span>
              </div>
              <div class="col precio">
                  <span> $ 300,00</span>
              </div>
          </div>
          <div class="finalizar-compra">
                  <h3>Total Compra</h3>
                  <div class="monto">$ 325,00</div>
              <button class="btn-pagar">PAGAR</button>
          </div>
      </div>
  </section>

</section>
